body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(0, 0, 0);
  color: rgb(72, 255, 0);
}

/* screen static effect */

.tv-static {
    background-image: repeating-conic-gradient(rgb(145, 255, 0, 30%), black 0.000085%);
    animation: back 25s linear infinite;
  }
  
  @keyframes back {
      from {
      background-size: 100% 100%;
    }
    to {
      background-size: 200% 200%;
    }
  }

.player-select {
  padding: 10px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

/* .column-left{
    width: 33%;
    flex-grow: 1;
}

.column-middle{
    width: 33%;
    flex-grow: 1;
}

.column-right{
    
} */

.column{
    width: 33%;
    flex-grow: 1;
    transition: transform 0.3s ease-out;
}

.column:hover {
    transform: scale(1.5);
    max-height: 400px;
    flex-grow: 2;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0), 0 0 20px rgba(255, 255, 255, 0.062), 0 0 30px rgba(255, 255, 255, 0.24), 0 0 40px #a6ff0060, 0 0 70px #91ff0059, 0 0 80px #73ff0080, 0 0 100px #b3ff0096, 0 0 150px #5eff00;
}

h1{
    font-size: 300%;
    text-align: center;
    padding-bottom: 50px; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0), 0 0 20px rgba(255, 255, 255, 0.062), 0 0 30px rgba(255, 255, 255, 0.24), 0 0 40px #a6ff0060, 0 0 70px #91ff0059, 0 0 80px #73ff0080, 0 0 100px #b3ff0096, 0 0 150px #5eff0094;
}

h2{
    text-align: center;
    padding-bottom: 25px;
}

h3{
    text-align: center;
    font-size: 100%;
}

img{
    max-width: 200px;
    max-height: 180px;
}

/* text glitch credit: Piotr Galor, https://codepen.io/pgalor/pen/OeRWJQ */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.glitch{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

