body {
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(72, 255, 0);
  font-weight: bold;
}

.grid * {
  padding: 10px;
  margin: 0px;
}

.column{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: ;
    flex-wrap: wrap;
}

.column-left{
    justify-content: flex-start;
    height: 200px;
}

.column-middle{
    justify-content: center;
    height: 200px;
}

.column-right{
    justify-content: flex-end;
    height: 200px;
}

h1{
    font-size: 300%;
    text-align: center;
}

h2{
    text-align: center;
}

nav{
    background-color: #79443b;
    flex: auto;
}

article{
    background-color: #ffe135;
    flex:auto;
}

aside{
    background-color: #1dacd6;
    width: 200px;
}
